.footer__text {
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  margin-top: 15px;
}

.footer__form {
  max-width: 550px;
  width: 100%;
  position: relative;
  margin: 0 auto 50px;
}

.footer__form_input {
  padding: 18px 140px 18px 20px;
  border: none;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  border-radius: 25px;
  border: 1px solid #e6ecf2;
  background-color: #ffffff;
}

.footer__form_input::-webkit-input-placeholder {
  color: #afafaf;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.footer__form_input:-moz-placeholder {
  color: #afafaf;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.footer__form_input::-moz-placeholder {
  color: #afafaf;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.footer__form_input:-ms-input-placeholder {
  color: #afafaf;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.btn-subscribe {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  background: none;
  border: none;
}

.select-sorting {
  position: relative;
  z-index: 7;
  display: flex;
  justify-content: center;
  margin-right: 40px;
}

.select-sorting__item {
  color: #222222;
  font: 600 14px "Montserrat", Arial, sans-serif;
  line-height: 24px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  margin-right: 20px;
  border-bottom: 1px dashed #222222;
}

.select-sorting__item:before {
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #222222 transparent transparent transparent;
}

.select-sorting__item.active:before {
  transform: translateY(-50%) scale(1, -1);
}

.select-sorting__dropdown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -22px;
  width: 250px;
  padding: 68px 0 20px;
  box-shadow: 0 4px 12px rgba(14, 21, 47, 0.1);
  border-radius: 20px;
  background-color: #ffffff;
  z-index: 1;
  display: none;
}

.select-sorting__dropdown.active {
  display: block;
}

.select-sorting__option {
  color: #222222;
  font-family: Montserrat;
  font: 400 14px/36px "Montserrat", Arial, sans-serif;
  padding: 2px 15px;
  cursor: pointer;
  position: relative;
}

.select-sorting__option:before {
  content: '';
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 10px;
  background: url("../img/check-mark-black-outline.png") no-repeat center/contain;
  display: none;
}

.select-sorting__option.active:before {
  display: block;
}

.select-sorting__option:hover {
  background-color: #f5f7fa;
  text-decoration: underline;
}

.ml-auto {
  margin-left: auto;
}

.fs-21 {
  font-size: 21px;
}

.rubricator {
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 24px;
  margin-top: -4px;
}

.rubricator__lv1_item {
  display: flex;
  align-items: center;
  padding: 4px 0;
  cursor: pointer;
}

.rubricator__lv1_item img {
  margin-right: 9px;
  width: 5px;
  height: 100%;
  object-fit: contain;
}

.rubricator__lv2 {
  padding-left: 15px;
  display: none;
}

.rubricator__lv2_link {
  color: #222222;
  padding: 3px 0;
  display: block;
  width: fit-content;
}

.rubricator__lv2_link:hover {
  border-radius: 2px;
  background-color: #f5f7fa;
  padding: 6px 8px;
  text-decoration: none;
}

.mb-2 {
  margin-bottom: 10px;
}

.pb-0 {
  padding-bottom: 0;
}

.mr-4 {
  margin-right: 25px !important;
}

.mr-auto {
  margin-right: auto;
}

.line-clamp {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp:after {
  content: '...';
  text-align: center;
  bottom: 0;
  right: 0;
  width: 25%;
  display: block;
  position: absolute;
  height: calc(1em * 1.6);
  background: linear-gradient(to left, rgba(241, 242, 246, 0.1), rgba(241, 242, 246, 0.5) 75%);
}

@supports (-webkit-line-clamp: 1) {
  .line-clamp:after {
    display: none !important;
  }

  .line-clamp {
    -webkit-line-clamp: 2;
    height: calc(1em * 1.6 * 2);
  }
}

.map-header {
  margin: 0 -30px 0 -12px;
  padding: 12px 10px;
  border: 1px solid #e6ecf2;
  background-color: #f5f7fa;
}

.map-content {
  padding: 15px;
}

.map-title {
  color: #8f89c6;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 20px;
}

.map-address {
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
}

.map-phone,
.map-graphic {
  margin-bottom: 5px;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.map-phone span,
.map-graphic span {
  font-weight: 500;
}

.ymaps-2-1-77-balloon__content {
  padding: 0;
}

p.map-phone {
  margin-bottom: 5px;
}

.btn.btn-white,
a.btn.btn-white {
  background: #fff;
}

.header__hint_icon {
  width: 30px;
  height: 30px;
  margin-right: 12px;
  float: left;
}

.btn-arrow {
  width: 28px;
  height: 34px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  background: #f5f7fa url("../img/arrow-left-purple.png") no-repeat center/10px 16px;
  position: absolute;
  left: calc(37rem + 5px);
  top: 5px;
  z-index: 9;
  border: none;
  transition: all 0.3s ease;
}

.btn-arrow.active {
  transform: scale(-1, 1);
  left: 5px;
}

.select-list__item:last-child {
  border-bottom: 0.1rem solid #e6ecf2;
}

.select-list__item:last-child .select-list__link,
.select-list__item:last-child .select-sub-list__link {
  border: none;
}

@media screen and (max-width: 991px) {
  .select-sorting__dropdown {
    left: -15px;
    transform: none;
    width: max-content;
  }

  .sorting {
    padding-left: 0;
  }
}
/*# sourceMappingURL=maps/main.css.map */
